*
{ 
    padding: 0;
    margin: 0; 
    border: 0; 
} 
body
{
    background: silver;
} 
#container
{ 
    width: 40%; 
	height:100%;
    background: white; 
    margin: 0 auto; 
    padding: 20px; 
} 
#chat_box
{ 
    width: 100%; 
    height: 100%;
} 
#chat_data
{ 
    width: 100%; 
    padding: 5px; 
    margin-bottom: 5px; 
    border-bottom: 1px solid silver; 
    font-weight: bold; 
} 
input[type="text"]
{ 
    width: 100%; 
    height: 40px;
    border: 1px solid grey;
    border-radius: 5px; 
} input[type="submit"]
{ 
    width: 100%;
    height: 40px; 
    border: 1px solid grey; 
    border-radius: 5px; 
} 
textarea
{ 
    width: 100%; 
    height: 40px; 
    border: 1px solid grey; 
    border-radius: 5px;
}

